main {
  padding: 0px max(calc(50% - 720px), 0px);
}

.landing-section {
  background-image: url(./assets/img/landingphoto.png);
  background-position: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 500px;
  max-width: 1440px;
  overflow: hidden;
}
.landing-animation {
  max-height: 500px;
  /* animation: landinganimation 5s ease forwards; */
  z-index: 1;
}

@keyframes landinganimation {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-200px);
  }
}

.rotation-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  z-index: 2;
}

.rotation-container {
  position: relative;
  height: 160px;
  width: 160px;
  animation: movelogo 2s ease forwards;
}
.rotation {
  filter: drop-shadow(0px 0px 10px #0000005d);
  animation: rotatelogo 6s linear 3s infinite;
}

.no-rotation {
  position: absolute;
  top: 55px;
  right: 55px;
  z-index: 2;
}

@keyframes movelogo {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-sections {
  display: flex;
  justify-content: center;
  gap: 12px;
}

nav {
  height: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--main-color);
  position: fixed;
}
nav > img {
  height: 56px;
}
/* display none ins ul sonst ist das logo nicht mittig  */
ul {
  display: none;
}

li {
  list-style: none;
}

li > a {
  color: white;
  font-family: "Arima";
  font-weight: 700;
  text-decoration: none;
}

footer {
  height: 134px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);

  padding: 5px 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content > a,
p {
  font-family: "Palanquin";
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.footer-content > p {
  font-size: var(--font-author);
}

.footer-social {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}

.footer-content > a {
  height: 24px;
}

@media screen and (min-width: 1440px) {
  nav {
    position: inherit;
  }
}
