/* data headline  */

time {
  color: var(--text-color-one);
}
.data-box {
  display: flex;
  gap: 16px;
}
.data-info {
  display: flex;
  gap: 5px;
  height: 20px;
  align-items: center;
}
.data-info img {
  width: 20px;
  height: 20px;
}
.data-gap {
  gap: 8px;
}

@media screen and (min-width: 769px) {
}

/* pro tipps  */
.pro-tipps {
  background-color: var(--main-color-transparent);
  padding: 24px 16px;
  border-radius: 30px;
  display: flex;
  justify-content: left;
  margin-top: 100px;
}
.pro-tipps a {
  color: var(--main-color);
}
.pro-tipps-icon {
  background: var(--main-color);
  border-radius: 10px;
  height: 66px;
  width: 196px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pro-tipps-icon img {
  height: 40px;
  width: 40px;
  transform: rotate(12deg);
}
.pro-tipps-icon > p {
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 700;
  color: var(--second-color);
  font-size: 28px;
}

.pro-tipps li {
  font-family: "Palanquin";
  font-style: normal;
  font-weight: 400;
  color: var(--text-color-one);
  line-height: 1.2;
}

ol {
  padding-inline-start: 26px;
}

.edgerelative {
  position: relative;
}
.edgesolute {
  position: absolute;
  top: -60px;
  left: 0px;
  transform: rotate(-12deg);
}

/* Author  */
.author {
  background: var(--main-color-transparent);
  text-align: center;
  padding: 16px 8px;
  border-radius: 30px;
}

.author img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: -40px;
  border-radius: 50%;
}

.author h1 {
  margin-top: 16px;
}

.author h1,
.author h6 {
  font-size: var(--font-author);
  color: var(--text-color-one);
  line-height: 19px;
}

.author h6 {
  margin-bottom: 8px;
}
