/* data headline  */

time {
  color: var(--text-color-one);
}
.data-box {
  display: flex;
  gap: 16px;
}
.data-info {
  display: flex;
  gap: 5px;
  height: 20px;
  align-items: center;
}
.data-info img {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 769px) {
}

/* pro tipps  */
.pro-tipps {
  background-color: var(--main-color-transparent);
  padding: 24px 16px;
  border-radius: 30px;
}
.pro-tipps a {
  color: var(--main-color);
}
.edgerelative {
  position: relative;
}
.edgesolute {
  position: absolute;
  top: -65px;
  left: -45px;
}
